.agencies {
    ul li {
        list-style-type: disc;
        font-weight: 400;
        font-size: 20px;
        line-height: 160.19%;
        color: $light;
    }
    ul {
        margin-bottom: 45px;
        padding-left: 20px;
    }
}