.certificates.excursions {
	.route-info .exc-btns a {
		max-width: 210px;
	}
}

.certificates {
	.route-info {
		ul {
			font-weight: 600;
			font-size: 20px;
			line-height: 160.19%;
			color: $dark;
		}
	}
	.route .main__route-block:nth-child(even) {
		margin-bottom: 30px;
	}
	.main__purchase {
		h2 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 15px;
		}
	}
}

.route-info span {
	font-weight: 400;
	font-size: 20px;
	line-height: 160.19%;
	color: #5E4E43;
}

.certificates.excursions .route-info h2 {
	margin-bottom: 30px;
	font-size: 40px;
  line-height: 110%;
}

.certificates > .main__route {
	background-color: #FBF9FF;
	padding-top: 60px;
	padding-bottom: 60px;
}

.certificates .reviews-swiper .main__swiper-inner {
	max-width: 452px;
}

@media (max-width: 768px) {
	.certificates > .main__route {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.certificates.excursions h2 {
		text-align: center;
		font-size: 30px;
		margin-bottom: 0px;
		max-width: 186px;
	}
	.route .main__route-block {
		flex-direction: column-reverse;
		gap: 15px;
		margin-bottom: 30px;
	}
	.route .main__route-block h1 {
		text-align: center;
	}
	.main__purchase {
		display: none;
	}
	.excursions .route-info h1 {
		margin-bottom: 15px;
	}
	.excursions .route-info p:last-of-type {
		margin-bottom: 15px;
	}
	.certificates.excursions .route-info .exc-btns a {
		max-width: none;
		font-size: 14px;
		height: 42px;
	}
	.route .main__route-block:nth-child(even) {
		flex-direction: column-reverse;
	}
	.certificates .route-info ul {
		font-size: 18px;
		line-height: 140%;
		span {
			font-weight: 400;
			font-size: 14px;
			color: $light;
			line-height: 100%;
		}
	}
	.route .main__route-block li:first-of-type {
		margin-top: 5px;
	}
	.route .main__route-block:nth-child(even) li {
		font-size: 14px;
	}
	.excursions .main__exc-info {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.excursions .main__exc-info div p {
		font-size: 18px;
	}
	.excursions .main__exc-info div span {
		font-size: 14px;
	}
	.excursions .main__exc-info div {
		padding-left: 0;
	}
	.excursions .main__exc-info div:not(:first-of-type) {
		border-left: none;
	}
	.excursions .main__exc-info div:not(:last-of-type) {
		border-bottom: 1px solid #221207;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.route-info span {
		font-size: 14px;
		line-height: 100%;
	}
}