.agencies.payment {
.title-info {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    color: $light;
    &:first-of-type {
        margin-bottom: 30px;
    }
    &:last-of-type {
        margin-bottom: 60px;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 160.19%;
    color: $dark;
    margin-bottom: 10px;
}

ul {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    color: $dark;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    li {
        margin-left: 20px;
        &:first-of-type {
            margin-top: 5px;
        }
    }
}
.main__docs {
    margin-bottom: 30px;
}
}

@media (max-width: 768px) {
    .agencies.payment .title-info {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .agencies.payment .title-info:first-of-type {
        margin-bottom: 15px;
    }
    .agencies.payment .subtitle {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .agencies.payment ul {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .agencies.payment .main__docs {
        grid-template-rows: 1fr 1fr;
    }
    .agencies.payment .title-info:last-of-type {
        margin-bottom: 30px;
    }
}