.qa {
    h1 {
        margin-bottom: 45px;
    }
    .main__qa {
        .main__qa-block {
            border-bottom: 1px solid $brownLight;
            padding-bottom: 15px;
            margin-bottom: 30px;
            .question {
                @include flexAicJcc;
                justify-content: flex-start;
                height: 38px;
                position: relative;
                font-weight: 600;
                font-size: 24px;
                line-height: 160.19%;
                color: $dark;
                &.active + p.answer {
                    display: block;
                    margin-top: 10px;
                }
                &.active::after {
                    transform: rotate(180deg);
                }
                &::after {
                    content: url("/src/assets/images/flat-arr-wide.svg");
                    position: absolute;
                    right: 0;
                }
            }
            .answer {
                display: none;
            }
        }
    }
    .main__form {
        h2 {
            text-align: left;
            margin-bottom: 20px;
        }
        .main__form-content {
            @include flexAicSb;
            form {
                @include flexCol;
                gap: 15px;
                max-width: 642px;
                width: 100%;
                .input-block {
                    @include flexCol;
                    gap: 7px;
                    max-width: 642px;
                    width: 100%;
                    input {
                        border: 1px solid #8F7B6C;
                        border-radius: 5px;
                        outline: none;
                        height: 30px;
                        margin: 0;
                        padding: 10px;
                        width: 100%;
                    }
                    textarea {
                        outline: none;
                        border: 1px solid #8F7B6C;
                        border-radius: 5px;
                        width: 100%;
                        min-height: 100px;
                    }
                    &.checkbox {
                        align-items: flex-start;
                        flex-direction: row;
                        gap: 10px;
                        label {
                            cursor: pointer;
                        }
                        input {
                            width: auto;
                        }
                    }
                }
                .form-top {
                    @include flexAicJcc;
                    justify-content: space-between;
                    gap: 15px;
                    width: 100%;
                    .input-block {
                        max-width: 284px;
                        width: 100%;
                    }
                    input {
                        width: 100%;
                    }
                }
                .submit {
                    outline: none;
                    border: none;
                    width: 202px;
                    height: 58px;
                    cursor: pointer;
                }
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160.19%;
                color: $dark;
                max-width: 382px;
            }
        }
    }
}

@media (max-width: 768px) {
    .qa h1 {
        margin-bottom: 35px;
    }
    .qa .main__qa .main__qa-block .question {
        font-size: 18px;
        line-height: 120%;
        max-width: 250px;
    }
    .qa .main__qa .main__qa-block {
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    .qa .main__qa .main__qa-block .question::after {
        right: -80px;
    }
    .qa .main__qa .main__qa-block .question {
        height: auto;
    }
    .qa .main__form h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .qa .main__form .main__form-content {
        flex-direction: column-reverse;
        gap: 15px;
    }
    .qa .main__form .main__form-content p {
        font-size: 14px;
    }
    .qa .main__form .main__form-content form .input-block label {
        font-size: 14px;
        font-weight: 600;
    }
    .qa .main__form .main__form-content form .form-top {
        flex-direction: column;
        gap: 15px;
    }
    .qa .main__form .main__form-content form .form-top .input-block {
        max-width: unset;
    }
    .qa .main__form .main__form-content form .input-block.checkbox label {
        font-weight: 400;
        color: $brownLight;
    }
    .qa .main__form .main__form-content form .submit {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
}