@mixin flexAicSb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flexAicJcc {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flexCol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

html, body {
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
}

ul, li, p {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

picture {
	display: block;
}

img {
	width: 100%;
}

h1 {
	font-size: 40px;
	line-height: 120%;
	margin: 0 auto;
	margin-bottom: 45px;
	text-align: center;
	max-width: 799px;
}

h2 {
	font-size: 35px;
	line-height: 130%;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}

h3 {
	font-weight: 400;
	font-size: 40px;
	line-height: 120%;
	margin: 0;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Forum';
	font-weight: 400;
}

section {
	margin-bottom: 60px;
}

main {
	min-height: calc(100vh - 306px);
}

.wrapper {
	max-width: 1120px;
	margin: 0 auto;
}

.btn {
	background: $purple;
	border-radius: 5px;
	width: 100%;
	@include flexAicJcc;
	color: $dark;
	&:hover {
		background: $hoverBtn;
	}
	&:active {
		background: $activeBtn;
	}
}

.main .main__programms .swiper-slide__bottom a:last-of-type:hover {
	color: $light;
	border-bottom: 1px solid $light;
}

.main .main__programms .swiper-slide__bottom a:last-of-type:active {
	color: $brownLight;
	border-bottom: 1px solid $brownLight;
}

.swiper-navigation {
	.swiper-button-prev {
		&::after {
			content: url("/src/assets/images/swiper-arrow.svg");
			transform: rotate(180deg);
		}
	}
	.swiper-button-next {
		&::after {
			content: url("/src/assets/images/swiper-arrow.svg");
		}
	}
	.swiper-button-next {
		top: 20px;
	}
	.swiper-button-prev {
		top: 37px;
    right: 80px;
		left: auto;
	}
}

.main-swiper__top {
	margin-bottom: 30px;
}

.reviews-swiper {
	.send-review {
		max-width: 162px;
		height: 44px;
		margin: 0 auto;
		margin-top: 30px;
		font-weight: 400;
		font-size: 16px;
		line-height: 160.19%;
		color: #221207;
	}
	.swiper-wrapper {
		padding: 0 5px;
	}
	.swiper-slide {
		max-width: 452px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 20px 15px;
		.reviews__top {
			@include flexAicSb;
			span {
				font-weight: 400;
				font-size: 16px;
				line-height: 160.19%;
				color: $brownLight;
			}
		}
		p {
			font-weight: 600;
			font-size: 24px;
			line-height: 160.19%;
			color: $dark;
			margin: 5px 0;
		}
		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 160.19%;
			color: $light;
		}
	}
}

.header {
	&.main-header {
		margin-bottom: 40px;
	}
	margin-bottom: 60px;
	.header__inner {
		@include flexAicSb;
		justify-content: space-between;
		gap: 22px;
	}

	.header__logo {
		a {
			display: block;
		}
		img {
			max-width: 191px;
			width: 100%;
		}
	}

	.header__main {
		@include flexCol;
		gap: 10px;
		max-width: 626px;
		width: 100%;
		padding-top: 20px;
		.header__main-top {
			@include flexAicSb;
			width: 100%;
			.header__main-top-left {
				@include flexAicSb;
				gap: 25px;
				.shop {
					font-size: 16px;
					line-height: 20px;
					color: $brownLight;
					text-decoration: underline;
				}
				.tel {
					font-size: 16px;
					line-height: 20px;
					color: $brownLight;
				}
				.links {
					@include flexAicSb;
					gap: 12px;
				}
			}
			.header__main-top-right {
				a {
					color: $purpleDark;
				}
			}
		}
		.header__main-bottom {
			width: 100%;
			a {
				color: $dark;
				font-size: 16px;
				line-height: 20px;
			}
			& > ul {
				@include flexAicSb;
			}	
		}
	}

	.header__right {
		@include flexAicSb;
		gap: 10px;
		max-width: 193px;
		width: 100%;
		.header-btn {
			max-width: 133px;
			height: 50px;
		}
		.phone-icon {
			display: flex;
			img {
				width: 50px;
				height: 50px;
			}
		}
	}

	.header__main-bottom {
		& > ul > li {
			padding-bottom: 20px;
		}
		ul {
			li {
				&:hover ul {
					visibility: visible;
					opacity: 1;
				}
				a {
					display: block;
					& + ul {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						left: 0;
						top: 94px;
						background: #F8F8F8;
						height: 45px;
						width: 100%;
						& > .wrapper {
							gap: 35px;
							display: flex;
							height: 100%;
						}
						a {
							display: flex;
							align-items: center;
							height: 100%;
							position: relative;
						}
					}
				}
			}
		}
	}
}

.header .header__main-bottom ul li a + ul a:hover,
.header .header__main-bottom ul li a + ul a:active {
	color: $purpleDark;
}

.header .header__main-bottom ul > li:first-of-type > a {
	position: relative;
	&::after {
		content: url("/src/assets/images/flat-arr-down.svg");
		position: absolute;
		right: -15px;
    top: -2px;
	}
}

.header .header__main-bottom ul > li:first-of-type:hover > a {
	&::after {
		transform: rotate(180deg);
		top: 4px;
	}
}

.header .header__main-bottom ul > li:first-of-type:hover > a,
.header .header__main-bottom ul > li:not(:first-of-type) > a:hover {
	text-shadow: 0px 0 0 $dark;
}

.main {
	h1 {
		margin-bottom: 15px;
	}
	p {
		font-size: 20px;
		line-height: 160.19%;
		color: $light;
	}
	.main__banner {
		img {
			max-width: 100vw;
		}
		.main__video {
			@include flexAicSb;
			align-items: flex-start;
			gap: 25px;
			margin-bottom: 60px;
			.main__video-text {
				@include flexCol;
				gap: 15px;
				max-width: 450px;
			}
			.main__video-video {
				max-width: 645px;
				width: 100%;
				.video {
					aspect-ratio: 16 / 9;
					width: 100%;
					border: 1px solid #8F7B6C;
				}
			}
		}
		.main__banner-desc {
			text-align: center;
			max-width: 930px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		picture {
			margin-bottom: 96px;
		}
		h1 {
			font-size: 60px;
		}
	}
	.main__banner-welcome {
		position: relative;
		background: $purple;
		padding: 25px 0;
		h2 {
			color: $dark;
		}
		h2 + p {
			max-width: 637px;
			margin: 0 auto;
			text-align: center;
		}
		.welcome-1 {
			position: absolute;
			left: 0;
			top: 0;
		}
		.welcome-2 {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.main__programms {
		.swiper-slide {
			max-width: 452px;
		}
		h3 {
			margin-bottom: 30px;
		}
		img {
			max-width: 452px;
		}
		p {
			font-weight: 600;
			font-size: 24px;
			line-height: 160.19%;
			color: $dark;
		}
		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 160.19%;
			color: $light;
			display: block;
			margin-bottom: 15px;
		}
		.swiper-slide__bottom {
			@include flexAicSb;
			.btn {
				max-width: 161px;
				height: 44px;
			}
			a {
				color: $dark;
				&:last-of-type {
					border-bottom: 1px solid $dark;
					padding-bottom: 12px;
				}
			}
		}
	}
	.main__leading {
		h3 {
			margin-bottom: 30px;
		}
		img {
			max-width: 261px;
		}
		span {
			font-weight: 600;
			font-size: 24px;
			line-height: 160.19%;
			color: $dark;
			margin-top: 10px;
			display: block;
		}
		.main__leading-content {
			display: grid;
			row-gap: 30px;
			column-gap: 25px;
			justify-items: center;
			grid-template-columns: repeat(12, 1fr);
			a {
				grid-column: span 4;
				max-width: 261px;
			}
			a:nth-child(-n+4) {
				grid-column: span 3;
			}
		}
	}
	.main__schedule {
		h3 {
			margin-bottom: 20px;
		}
		.main__schedule-options {
			@include flexAicJcc;
			justify-content: flex-start;
			gap: 25px;
			margin-bottom: 30px;
			a {
				font-weight: 600;
				font-size: 20px;
				line-height: 160.19%;
				color: $brownLight;
				border-bottom: 1px solid $brownLight;
				padding-bottom: 5px;
				&.active {
					color: $dark;
					border-bottom: 1px solid $dark;
				}
			}
		}
	}
	.main__about {
		h3 {
			margin-bottom: 15px;
		}
		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 160.19%;
			color: $light;
			&:not(:last-of-type) {
				margin-bottom: 15px;
			}
		}
	}
	.main__contacts {
		h3 {
			margin-bottom: 30px;
		}
		.main__contacts-content {
			@include flexAicSb;
			.contacts-info {
				& > div {
					margin-bottom: 15px;
				}
				p {
					font-weight: 600;
					font-size: 24px;
					line-height: 160.19%;
					color: $dark;
				}
				a, span {
					font-weight: 400;
					font-size: 20px;
					line-height: 160.19%;
					color: $light;
				}
				.contacts-icons {
					@include flexAicJcc;
					justify-content: flex-start;
					gap: 10px;
					max-height: 32px;
					img {
						max-width: 32px;
						max-height: 32px;
					}
				}
				.how-to-get {
					font-weight: 600;
					font-size: 24px;
					line-height: 160.19%;
					color: $dark;
					border-bottom: 1px solid $dark;
					margin-bottom: 40px;
					display: block;
					max-width: 185px;
				}
				.callback {
					max-width: 178px;
					height: 50px;
					font-size: 16px;
				}
			}
		}
	}
}

.footer {
	@include flexAicSb;
	align-items: flex-start;
	border-top: 1px solid #80808017;
	padding: 20px 0;
	.footer__left {
		@include flexCol;
		gap: 15px;
		img {
			max-width: 244px;
		}
		span {
			font-weight: 400;
			font-size: 12px;
			line-height: 160%;
			color: $paleWhite;
			max-width: 216px;
		}
	}
	.footer__center {
		margin-right: 280px;
		ul {
			@include flexCol;
			gap: 10px;
			max-height: 112px;
			flex-wrap: wrap;
			column-gap: 60px;
			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: $dark;
			}
			li:last-of-type {
				a {
					text-decoration: underline;
				}
			}
		}
	}
	.footer__right {
		.footer__right-top {
			@include flexCol;
			align-items: flex-end;
			gap: 10px;
			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #221207;
			}
		}
		.footer__right-bot {
			margin-top: 10px;
			@include flexAicJcc;
			justify-content: flex-end;
			gap: 10px;
			a {
				max-width: 20px;
				max-height: 20px;
			}
		}
	}
}

.footer .footer__center ul a:hover,
.footer .footer__center ul a:active {
	text-shadow: 0px 0 0 $dark;
}

.menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 12;
	overflow: hidden;
	span {
		width: 20px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #222222;
		transition: all 0.5s;
	}
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: $white;
	transform: translateX(-100%);
	transition: transform 0.5s; 
	z-index: 11;
}

.menu.active {
	transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

@media (max-width: 1140px) {
	.wrapper {
		max-width: 760px;
	}
}

@media (max-width: 768px) {
	h1,
	.main .main__banner h1 {
		font-size: 30px;
		line-height: 110%;
		max-width: 320px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 24px;
		line-height: 120%;
	}
	h3 {
		font-size: 30px;
		line-height: 110%;
	}
	section {
		margin-bottom: 25px;
	}
	.wrapper {
		max-width: 320px;
	}
	.header .header__logo,
	.phone-icon {
		z-index: 12;
	}
	.header .header__logo img {
		max-width: 122px;
	}
	.header .header__right {
		width: auto;
		img {
			max-width: 30px;
			max-height: 30px;
		}
	}
	.menu-btn {
		display: block;
	}
	.header__inner {
		padding: 20px 0;
	}
	.header .header__main .header__main-bottom > ul {
		flex-direction: column;
		align-items: flex-start;
	}
	.header .header__main-bottom ul > li:first-of-type > a::after {
		content: none;
	}
	.header .header__main-bottom ul li a + ul {
		opacity: 1;
		visibility: visible;
		position: static;
		height: auto;
		background: $white;
		padding-left: 20px;
	}
	.header .header__main-bottom ul li a + ul > .wrapper {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
	.header .header__main-bottom ul li a + ul a {
		font-size: 14px !important;
		line-height: 18px !important;
	}
	.header .header__main-bottom ul > li:first-of-type > a {
		padding-bottom: 15px;
	}
	.header .header__main {
		flex-direction: column-reverse;
		padding-top: 75px;
	}
	.header .header__main-bottom ul > li > a {
		font-weight: 600;
		font-size: 18px;
	}
	.header .header__main .header__main-top {
		max-width: 320px;
	}
	.header .header__main .header__main-top {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 30px;
	} 
	.header .header__main .header__main-top .header__main-top-left .shop {
		font-size: 14px;
		line-height: 18px;
	}
	.header .header__main .header__main-top .header__main-top-left .tel {
		font-weight: 600;
		font-size: 18px;
		line-height: 160.19%;
		color: $light;
	}
	.header .header__main .header__main-top .header__main-top-left {
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.header .header__main .header__main-top .header__main-top-left .links {
		margin-left: auto;
	}
	.header__main-top-right {
		margin-top: -22px;
	}
	.header .header__right .header-btn {
		margin-top: 20px;
	}
	.header .header__main .header__main-top .header__main-top-right a {
		font-size: 14px;
		line-height: 18px;
	}
	.header {
		background: $white;
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
		z-index: 12;
		.header__inner {
			max-width: 320px;
			margin: 0 auto;
		}
	}
	.main {
		margin-top: 70px;
	}
	.footer {
		flex-direction: column;
	}
	.footer .footer__center {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.footer .footer__center ul {
		max-height: 123px;
		column-gap: 40px;
	}
	.footer .footer__right .footer__right-top a {
		color: $brownLight;
	}
	.footer__right {
		@include flexAicSb;
		align-items: flex-start;
		width: 100%;
	}
	.footer .footer__right .footer__right-bot {
		margin-top: 0;
	}
	.footer .footer__left {
		margin-bottom: 15px;
	}
	.footer .footer__center ul a {
		font-size: 14px;
		line-height: 160%;
	}
	.header.main-header {
		margin-bottom: 20px;
	}
	.main p {
		font-size: 14px;
	}
	.main .main__banner .main__banner-desc {
		margin-bottom: 30px;
	}
	.main .main__banner picture {
		margin-bottom: 40px;
	}
	.main .main__banner .main__video {
		flex-direction: column;
		gap: 15px;
		margin-bottom: 40px;
	}
	.main .main__banner-welcome .welcome-1 {
		display: none;
	}
	.main .main__banner-welcome .welcome-2 {
		max-width: 150px;
		transform: rotate(10deg);
		top: 54px;
    right: -34px;
	}
	.main .main__banner-welcome {
		overflow: hidden !important;
		padding: 15px 0 20px 0;
	}
	.main .main__banner-welcome h2 + p {
		max-width: 230px;
		z-index: 10;
    position: relative;
	}
	.main .main__programms h3,
	.main-swiper__top {
		margin-bottom: 15px;
	}
	.main .main__programms p {
		font-size: 18px;
	}
	.main .main__programms span {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.main .main__programms .swiper-slide__bottom .btn {
		max-width: 146px;
		height: 42px;
		font-size: 14px;
	}
	.main .main__programms .swiper-slide__bottom a:last-of-type {
		font-size: 14px;
		padding-top: 12px;
	}
	/* .swiper-navigation .swiper-button-next {
		bottom: 0;
		top: auto;
	} */
	.main__programms {
		margin-bottom: 85px;
	}
	.main .main__leading h3 {
		margin-bottom: 15px;
	}
	.main .main__leading .main__leading-content a:nth-child(-n+4) {
		grid-column: span 6;
	}
	.main .main__leading .main__leading-content {
		column-gap: 10px;
		row-gap: 10px;
	}
	.main .main__leading span {
		font-size: 18px;
		line-height: 120%;
		margin-top: 5px;
	}
	.main .main__leading .main__leading-content a {
		grid-column: span 6;
	}
	.main__leading {
		margin-bottom: 30px;
	}
	.reviews-swiper .swiper-slide p {
		font-size: 18px;
	}
	.reviews-swiper .swiper-slide .reviews__top span {
		font-size: 14px;
	}
	.reviews-swiper .swiper-slide span {
		font-size: 14px;
	}
	.reviews-swiper .send-review {
		margin: 0;
		margin-top: 15px;
		margin-right: auto;
		font-size: 14px;
		max-width: 147px;
	}
	.main .main__schedule .main__schedule-options a {
		font-size: 18px;
	}
	.main .main__schedule .main__schedule-options {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		margin-bottom: 15px;
	}
	.main .main__about p {
		font-size: 14px;
	}
	.main .main__about p:not(:last-of-type) {
		margin-bottom: 5px;
	}
	.main .main__contacts .main__contacts-content {
		flex-direction: column-reverse;
		gap: 15px;
		align-items: flex-start;
	}
	.main .main__contacts .main__contacts-content .contacts-info p {
		font-size: 18px;
	}
	.main .main__contacts .main__contacts-content .contacts-info a, .main .main__contacts .main__contacts-content .contacts-info span {
		font-size: 14px;
	}
	.main .main__contacts .main__contacts-content .contacts-info .how-to-get {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.main .main__contacts .main__contacts-content .contacts-info .callback {
		font-size: 14px;
		max-width: 161px;
		height: 42px;
	}
	.excursions .main__price div:first-of-type p:not(:first-of-type) {
		font-size: 14px;
	}
	.excursions .main__price div p:first-of-type {
		font-size: 14px !important;
	}
	.excursions .main__price div span {
		font-size: 14px !important;
	}
	.route .main__route-block h2 {
		font-size: 18px;
	}
	.route .main__route-block {
		margin-bottom: 2px !important;
	}
	.excursions .cake-description {
		font-size: 12px !important;
	}
	.main__qa {
		& > span {
			font-size: 14px;
		}
	}
}