@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import 'libs/normalize';
@import 'style/_vars';
@import 'style/_style';
@import 'style/_programms';
@import 'style/_q&a';
@import 'style/_docs';
@import 'style/_agencies';
@import 'style/_payment';
@import 'style/_reviews';
@import 'style/_route';
@import 'style/_404';
@import 'style/_excursions';
@import 'style/_certificates';